<form #myForm="ngForm" (ngSubmit)="orderForm.valid && onSubmit()" [formGroup]="orderForm">
    <div>
        Form submitted ? {{myForm.submitted}} <br>
        Form valid ? {{orderForm.valid}} <br>
        Form invalid? {{orderForm.invalid}}
    </div>
    <fieldset>
        <label for="title-order">Title</label>
        <input type="text" id="title-order" name="title-order" formControlName="title">
    </fieldset>
    <div *ngIf="orderForm.controls.title.errors">
        <span *ngIf="orderForm.controls.title.errors?.['required']">Le titre est requis</span>
    </div>

    <fieldset>
        <label for="quantity">Quantity</label>
        <input type="number" id="quantity" name="quantity" formControlName="quantity">
    </fieldset>
    <div *ngIf="orderForm.controls.quantity.errors">
        <span *ngIf="orderForm.controls.quantity.errors?.['required']">La quantité est requise</span>
        <span *ngIf="orderForm.controls.quantity.errors?.['max']">Quantité max autorisée : 5</span>
    </div>

    <fieldset>
        <label for="date">Order date</label>
        <input type="date" id="date" name="date" formControlName="date">
    </fieldset>
    <div *ngIf="orderForm.controls.date.errors">
        <span *ngIf="orderForm.controls.date.errors?.['required']">La date est requise</span>
    </div>

    <fieldset>
        <label for="contact-order">Contact</label>
        <input type="email" id="contact-order" name="contact-order" formControlName="contact">
    </fieldset>
    <div *ngIf="orderForm.controls.contact.errors">
        <span *ngIf="orderForm.controls.contact.errors?.['required']">Email requis</span>
        <span *ngIf="orderForm.controls.contact.errors?.['email']">L'adresse email doit être valide</span>
    </div>
    <div formArrayName="payments">
        <b>Payments : </b><button (click)="addPayments()">Ajouter une date de paiement</button>
        <div [formGroupName]="i" *ngFor="let payment of payments.controls; let i=index">
            <div>
                <label for="date-{{i}}">Date :</label>
                <input type="date" name="date-{{i}}" formControlName="date">
                <span *ngIf="payment.get('date')?.errors?.['required']">Le champ est requis</span>
                <span *ngIf="payment.get('date')?.errors?.['min'] != undefined">La date doit être dans le futur</span>
            </div>
            <div>
                <label for="amount{{i}}">Amount :</label>
                <input type="text" name="amount-{{i}}" formControlName="amount">
                <span *ngIf="payment.get('amount')?.errors?.['required']">Le champ montant est requis</span>
            </div>
        </div>
    </div>

    <button type="submit">Send request</button>
    <button type="reset">Reset form</button>
</form>