<div class="hero"> A hero appears :
    <div>
        <ul>
            <li *ngFor="let hero of heroes">
                <h2>{{hero.name }} details</h2>
                <div>
                    <label for="name">Hero name: </label>
                    <input id="name" placeholder="name">
                </div>
                <div><span>name: </span>{{hero.name}}</div>
                <button (click)="onSelect(hero)">Choose hero</button>
            </li>
        </ul>

    </div>
</div>
<app-messages></app-messages>